# Email Config
acct.email.subject=Acme Corp Invoice
acct.email.attachment=Acme-Invoice
acct.email.greeting=What's up doc?
acct.email.signoff=That's all folks!
# SMTP Server Config
smtp.server=mail.acme.com
smtp.port=90009
smtp.username=road.runner@acme
smtp.password=iLoveBirdSeed
# Mail Sender Config
mail.sender.address=wiley.coyote@acme.com
mail.sender.name=Wiley Coyote Esq
# Other Application Config
acct.connectionstring=Provider=Microsoft.ACE.OLEDB.12.0;Data Source=..\Core.Test\Data\Db\TestData.accdb
# HTML Invoice Generation Config
acct.invoice.html.savelocation=..\Core.Test\TestOutput\Html\
acct.invoice.html.template=..\Core.Test\Data\Html\Invoice.Template.html
acct.invoice.html.itemtemplate=..\Core.Test\Data\Html\InvoiceIItem.Template.html
acct.invoice.pdf.savelocation=..\Core.Test\TestOutput\Pdf\